# This workflow will build a Python app and deploy it to an Azure Functions App on Linux when a commit is pushed to your default branch.

name: Deploy Azure Function App with React Frontend and FastAPI Backend

on:
  push:
    branches: ["azure-production"]
    paths:
      - Azure Functions/<PATH>/** # set this to your function app path

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read

env:
  AZURE_FUNCTIONAPP_NAME: "<FUNCTION_NAME>" # set this to your function app name on Azure
  AZURE_FUNCTIONAPP_PACKAGE_PATH: "Azure Functions/<PATH>/" # set this to your function app path
  PYTHON_VERSION: "3.11" # set this to the python version to use
  NODE_VERSION: "22" # set this to the node version to use
  FRONTEND_WORKING_DIRECTORY: "Azure Functions/<PATH>/frontend"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      # Setup Frontend
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: "npm install, build, and test"
        run: |
          npm ci
          npm run build --if-present
        working-directory: ${{ env.FRONTEND_WORKING_DIRECTORY }}

      - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: "Resolve Project Dependencies Using Pip"
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          python -m pip install --upgrade pip
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"
          popd

      - name: "Run Azure Functions Action"
        uses: Azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369
        id: fa
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.<PUBLISH_PROFILE> }} # set this to your publish profile on Azure
          scm-do-build-during-deployment: true
          enable-oryx-build: true
