name: Lint Codebase with Ruff

on:
  push:
    branches: [main]
    paths:
      - 'Azure Functions/Demo/**'

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read

jobs:
  linter-for-suffering:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Lint with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --config ruff.toml"
